@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "./styles/navbar.css";
@import "./styles/productcart.css";
@import "./styles/footer.css";
@import "./styles/login.css";
@import "./styles/products.css";

:root {
  --primary-color: #ffffff;
  --primary-color-dark:#000000;
  --secondary-color-dark:#181823;
  --primary-color-white: #EDECEC;
  --secondary-color-white:#B2B2B2;
  --primary-highlight-color:#4F25C7;
  --secondary-highlight-color:#EB4A5A;

  --font-principal: 'Roboto', sans-serif;

}

body{
  margin: 0;
}

html{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
}

img{
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

p{
  margin: 0;
}
